<form action="/departments" method="POST">
  Department Number:<br>
 <input type="text" ><br>
 Department Name:<br>
 <input type="text" name="dname" ><br>
 Department Location:<br>
 <input type="text" name="loc"><br><br>
 <input type="submit" value="Submit">
</form>
