<h1> {{ title }} </h1>
<form action="/departments" method="GET">
  <input type="submit" value="GET departments">
</form>


<form action="/departments" method="POST">
  Department Number:<br>
 <input type="text" name="deptno"><br>
 Department Name:<br>
 <input type="text" name="dname" ><br>
 Department Location:<br>
 <input type="text" name="loc"><br><br>
 <input type="submit" value="Submit">
</form>
